<div fxLayout="row wrap">
  <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-xs="200" fxFlex="200">
    <mat-card class="mat-elevation-z4">
      <mat-card-content disabled>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Titular de la silobolsa <strong>({{silobolsa?.codigoSilo}})</strong></mat-card-title>
            <mat-card-subtitle>Detalle del productor y silobolsa.</mat-card-subtitle>
          </div>
        </div>
        <div class="barchrt">
          <mat-grid-list cols="2" rowHeight="42px">
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1">
              <mat-card-subtitle><strong>Productor</strong></mat-card-subtitle>
            </mat-grid-tile>
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1">
              <mat-card-subtitle><strong>Silobolsa</strong></mat-card-subtitle>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="2" rowHeight="42px">
            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Razon social: <strong>{{silobolsa?.campos?.productores?.razonSocial}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Tipo de grano: <strong>{{silobolsa?.granos?.descripcion}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="2">
              <mat-label>CUIT: <strong>{{silobolsa?.campos?.productores?.cuit}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Fecha de embolsado: <strong>{{silobolsa?.fechaEmbolsado | date:'MM-dd-yyyy'}}</strong>
              </mat-label>
            </mat-grid-tile>

            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Telefono: <strong>{{silobolsa?.campos?.productores?.telefono}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Campo: <strong>{{silobolsa?.campos?.descripcion}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Correo: <strong>{{silobolsa?.campos?.productores?.mail}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Longitud: <strong>{{silobolsa?.longitud}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Localidad: <strong>{{silobolsa?.campos?.productores?.localidades?.nombre}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Latitud: <strong>{{silobolsa?.latitud}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Productor -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Calle: <strong>{{silobolsa?.campos?.productores?.calle}}</strong> - Altura:
                <strong>{{silobolsa?.campos?.productores?.altura}}</strong></mat-label>
            </mat-grid-tile>

            <!-- Silobolsa -->
            <mat-grid-tile class="mat-grid-tile-custom" colspan="1" rowsan="1">
              <mat-label>Detalle: <strong>{{silobolsa?.detalle}}</strong></mat-label>
            </mat-grid-tile>

          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="200" fxFlex="200">
    <mat-card style="height:400px;">
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Ubicación</mat-card-title>
            <mat-card-subtitle>Ubicación de la silobolsa en el campo.</mat-card-subtitle>
            <div id="outDIV" style="position: relative;">
              <div id="inDIV" class="sizeMaps" style="position: absolute; top: -20px; left: -19px;">
                <google-map height="79%" width="100%" [center]="position" [zoom]="12">
                  <map-marker [position]="position">
                  </map-marker>
                </google-map>
              </div>
            </div>
          </div>
        </div>
        <div class="barchrt">

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
<br>
<!--

<mat-card>
  <mat-card-content>-->
    <mat-card-title>Monitoreo de Silobolsa</mat-card-title>
    <mat-card-subtitle>Monitoreo en timpo real del estado de las silobolsa.</mat-card-subtitle>
    <mat-grid-list cols="8" rowHeight="2:1">

      <mat-grid-tile *ngFor="let disp of dispostivos; let i = index"  [ngStyle]="{'background-color': disp.id != '' ? this.colores[i].color : '#808080a3',
      'border-radius': i == 0? '100% 20% 0 0' : i==7? '20% 100% 0 0' : '20% 20% 0 0' }" >
        <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog(disp)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>

      <!-- <mat-grid-tile style="background-color: green; border-radius: 20% 20% 0 0;">A2 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: yellow; border-radius: 20% 20% 0 0;">A3 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: green; border-radius: 20% 20% 0 0;">A4 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: red; border-radius: 20% 20% 0 0;">A5 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: red; border-radius: 20% 20% 0 0;">A6 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: red; border-radius: 20% 20% 0 0;">A7 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile style="background-color: green; border-radius: 20% 100% 0 0;">A8 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-grid-tile> -->

      <!--
      <mat-grid-tile style="background-color: green; border-radius: 100px 0 0 0;">B1 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile style="background-color: red;">B2 <button mat-icon-button aria-label="Informaciòn de la silobolsa"
          (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile style="background-color: green;">B3 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile style="background-color: green;">B4 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile style="background-color: yellow;">B5 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile>
      <mat-grid-tile style="background-color: green; border-radius: 0 100px 0 0;">B6 <button mat-icon-button
          aria-label="Informaciòn de la silobolsa" (click)="openDialog()">
          <mat-icon>info</mat-icon>
        </button></mat-grid-tile> -->
    </mat-grid-list>
 <!-- </mat-card-content>
</mat-card>
-->
