<mat-card style="height:400px;">
    <mat-card-content>
        <mat-card-title>Estado general</mat-card-title>
        <mat-card-subtitle>Estado de las Silo-Bolsas</mat-card-subtitle>
        <div *ngIf="cargoGrafico" class="piechart">
            <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                [events]="donuteChart1.events"> </x-chartist>
        </div>
        <ul class="list-inline text-center">
          <li>
              <h6 class="text-success m-0">
                  <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 " style="color:#09fc01"></i>Buen estado</h6>
          </li>
          <li>
              <h6 class=" text-info  m-0">
                  <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10" style="color:#fffb01"></i>Algún tipo de problema</h6>
          </li>
          <li>
              <h6 class=" text-purple  m-0">
                  <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10" style="color:#da3226"></i>Alto riesgo</h6>
          </li>
      </ul>
    </mat-card-content>
    <mat-card-content>

    </mat-card-content>
</mat-card>
