
  <div>
    <h1 mat-dialog-title>Nuevo Usuario</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
          <form>
            <mat-form-field>
              <input matInput [(ngModel)]="user.nombre" type="text" placeholder="Nombre" name="monre">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.email" type="text" placeholder="E-mail" name="email">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.usuario" type="text" placeholder="Usuario" name="usuario">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.password" type="text" placeholder="Password" name="pasword">
            </mat-form-field>
          </form>
      </div>
  </div>
  <div mat-dialog-actions>    
    <button mat-raised-button color="primary" [mat-dialog-close]="user" cdkFocusInitial>Confirmar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>    
  </div>
  
