<div>
    <h1 mat-dialog-title>Nuevo Campo</h1>
    <div mat-dialog-content>

        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

          <form>
            <mat-form-field>
              <input matInput [(ngModel)]="campo.descripcion" type="text" placeholder="Descripcion" name="descripcion">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="lstProvincia" (selectionChange)="onProvinciaChange($event.value)" >
                <mat-option *ngFor="let provincia of resultadoProvincias" [value]="provincia.id">
                    {{provincia.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Localidad</mat-label>
              <mat-select [(ngModel)]="campo.localidadesID" formControlName="lstLocalidad">
                <mat-option *ngFor="let localidad of resultadoLocalidades" [value]="localidad.id">
                    {{localidad.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="campo.calle" type="text" placeholder="Calle" name="calle">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="campo.altura" type="text" placeholder="Altura" name="altura">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="campo.telefono" type="text" placeholder="Telefono" name="telefono">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="campo.mail" type="text" placeholder="Mail" name="mail">
            </mat-form-field>
          </form>
      </div>
  </div>
  <div *ngIf="showError" class="alert alert-danger" fxLayout="row" fxLayoutAlign="center center"
  style="background-color: white; color: red">
  {{erroMessage}}
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="add()">Confirmar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
  </div>

