section {
  display: table;
  width: 100%;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 1px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  /*width: 490px;*/
  margin-top: 400px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
   display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  /* width: 120px; */
  width: 150px;
}

.circulo{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.button-rojo{
  background-color: #ff4040;
}

.button-amarillo{
  background-color: #FFFF00;
}

.button-verde{
  background-color: #00FF00;
}

/***************************************/

