<mat-toolbar color="primary" class="app-header">
    <div></div>
</mat-toolbar>

<div class="reset-pass-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Crear nueva contraseña</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ingrese nueva contraseña" [(ngModel)]="pass" type="password"
                        name="pass" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirmar contraseña" [(ngModel)]="confPass" type="password"
                        name="confPass" required>
                </mat-form-field>

                <mat-error *ngIf="pass!=confPass">Las contraseñas no coinciden</mat-error>

            </mat-card-content>
            <button mat-raised-button color="primary" class="btn-block" (click)="resetPassword()">Enviar correo</button>
        </form>
      
    </mat-card>

</div>


<div *ngIf="showError" class="alert alert-danger" fxLayout="row" fxLayoutAlign="center center"
    style="background-color: white; color: red">    
    {{mensaje}}
</div>