<!-- Start Header -->
<nav class="navbar" id="navbar">
  <div class="container">
    <a href="#" class="logo"> <img
      src="assets/images/logo-icon-silo.png" style="width: 50px; height: 50px;"></a>
    <div class="nav-links">
      <a href="#welcome-section" class="fill">inicio</a>
      <a href="#projects" class="fill">Características</a>
      <a href="#contact" class="fill">contacto</a>
      <a href="#" class="fill" routerLink="../login" routerLinkActive="active">Iniciar sesion</a>
      <div class="toggle-menu scale-effect">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="toggle-menu scale-effect">
      <i class="fas fa-bars"> <mat-icon>more_vert</mat-icon></i>
    </div>
  </div>
</nav>
<!-- Landing Section -->
<section class="landing" id="welcome-section">
  <div class="container">
    <div class="text">
      <h1>Monitoreo de Silobolsas</h1>
      <span>Herramienta indispensable en la post cosecha.!</span>
      <p>Monitorear sus silos es la mejor forma de proteger el trabajo de toda la campaña, y nosotros tenemos la mejor herramienta. 
      </p>
      <!-- <div class="btns-group">
        <a href="#projects" class="btn btn-primary">vamos a explorar</a>
      </div> -->
    </div>
    <div class="image">
      <img
        src="assets/images/silo-bolsa-interna.jpg"
        alt="Coding Illsturation">
    </div>
  </div>
</section>
<!-- Projects Section -->
<section class="projects" id="projects">
 <br>
  <h2 class="section-title fill">Características</h2>
  <div class="container">
    <div class="projects-content">
      <div class="project">
        <div class="project-image">
          <img
            src="assets/images/energia-solar.jpg"
            alt="Project Image">
        </div>
        <div class="project-details">
          <h3 class="project-tile">Energia solar</h3>
          <p class="project-description">La instalación permite alimentación por energía solar!</p>
          <!-- <div class="btns-group">
            <a href="#" class="btn btn-primary">ver mas</a>
          </div> -->
        </div>
      </div>
      <div class="project">
        <div class="project-image">
          <img
            src="assets/images/soft.jpg"
            alt="Project Image">
        </div>
        <div class="project-details">
          <h3 class="project-tile">Soft exclusivo</h3>
          <p class="project-description">La evolución del software posibilita que los usuarios constaten el estado de los granos almacenados y 
            evalúen riesgos a través del sistema, ingresando por nombre y contraseña. El soft, genera además
            informes de cada uno de los silos monitoreados.!</p>
          <!-- <div class="btns-group">
            <a href="#" class="btn btn-primary">ver mas</a>
          </div> -->
        </div>
      </div>
      <div class="project">
        <div class="project-image">
          <img
            src="assets/images/rentabilidad.jpg"
            alt="Project Image">
        </div>
        <div class="project-details">
          <h3 class="project-tile">Proteje su rentabilidad</h3>
          <p class="project-description">Un sistema de medición transmite online los datos del interior de cada silo bolsa y un soft los 
            interpreta e informa el estado de los granos almacenados con análisis periódicos y un servicio de alarmas, anticipación y emergencias.!</p>
          <!-- <div class="btns-group">
            <a href="#" class="btn btn-primary">ver mas</a>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <a href="https://codepen.io/FreeCodeCamp/" target="_blank" class="more-projects btn btn-primary"
      id="profile-link">ver mas <i class="fas fa-chevron-right"></i></a> -->
  </div>
</section>

<!-- Contact Section -->
<section class="contact" id="contact">
  <br>
  <h2 class="section-title fill">Contacto</h2>
  <p class="description">Envianos tu consulta y a la brevedad nos estaremos comunicando con vos. ¡Muchas gracias!<span
      class="special">nice</span> <i class="fas fa-heart"></i>.</p>
  <div class="container">
    <form action="#" enctype="multipart/form-data" method="post">
      <div class="field">
        <label for="first-name">Apellido y Nombre</label>
        <input type="text" id="first-name" placeholder="Apellido y Nombre" required>
      </div>
      <div class="field">
        <label for="last-name">Empresa</label>
        <input type="text" id="last-name" placeholder="Empresa">
      </div>
      <div class="field">
        <label for="email-name">Correo</label>
        <input type="text" id="email-name" placeholder="Correo" required>
      </div>
      <textarea name="user-opinion" placeholder="Tu consulta..."></textarea>
      <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
  </div>
</section>
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>sistema de monitoreo de silobolsas.</p>
    <p>&copy; <a href="https://gendesoft.com/" target="_blank">Gendesoft</a></p>
  </div>
</footer>

