
  <div>
    <h1 mat-dialog-title>Editar Usuario</h1>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
          <form>
            <mat-form-field>
              <input matInput [(ngModel)]="user.nombre" type="text" placeholder="Nombre" name="nombre">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.apellido" type="text" placeholder="Apellido" name="apellido">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.telefono" type="text" placeholder="Teléfono" name="telefono">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.email" type="text" placeholder="E-mail" name="email">
            </mat-form-field>
            <mat-form-field *ngIf="isAdmin()">
              <mat-label>Productor</mat-label>
              <mat-select [(ngModel)]="user.productoresID" name="productoresID">
                <mat-option *ngFor="let productor of productores" [value]="productor.ID" aria-placeholder="Productor">
                  {{productor.razonSocial}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="isAdmin()">
              <mat-label>Rol</mat-label>
              <mat-select [(ngModel)]="user.rolesID" name="rolesID">
                <mat-option *ngFor="let rol of roles" [value]="rol.ID">
                  {{rol.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.usuario" type="text" placeholder="Usuario" name="usuario">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="user.password" type="password" placeholder="Password" name="pasword">
            </mat-form-field>
          </form>
      </div>
  </div>
  <div *ngIf="showError" class="alert alert-danger" fxLayout="row" fxLayoutAlign="center center"
    style="background-color: white; color: red">
    {{erroMessage}}
  </div>
  <div mat-dialog-actions>    
    <button mat-raised-button color="primary" (click)="edit()">Confirmar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>    
  </div>
  
  
