<mat-toolbar color="primary" class="app-header">
    <div></div>
    <span class="nav-tool-items">
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Recuperación de su contraseña</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ingrese su direccion de correo electrónico" [(ngModel)]="mail"
                        name="mail" required>
                </mat-form-field>
                <span>
                    <a href="#" routerLink="../login" routerLinkActive="active">Iniciar sesion</a>
                  </span>
            </mat-card-content>
            <button mat-raised-button color="primary" class="btn-block" (click)="forgot()">Enviar correo</button>
        </form>
    </mat-card>

</div>

<div *ngIf="showMsj" class="alert alert-danger" fxLayout="row" fxLayoutAlign="center center"
    style="background-color: white; color: green">
    Consulte su correo electrónico para ver si hay un enlace para restablecer su contraseña. Si no aparece en unos minutos, revise su carpeta de correo no deseado.
</div>

<div *ngIf="showError" class="alert alert-danger" fxLayout="row" fxLayoutAlign="center center"
    style="background-color: white; color: red">
    Error el usuario no existe
</div>