<mat-card>
    <mat-card-content>
      <mat-card-title>Monitoreo de Silobolsas</mat-card-title>
      <mat-card-subtitle>Monitoreo en timpo real del estados de las silobolsas.</mat-card-subtitle>
      <mat-grid-list cols="6" rowHeight="2:1">
        <mat-grid-tile style="background-color: red; border-radius: 100px 0 0 0;">A1 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green;">A2 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: yellow;">A3 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green;">A4 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: red;">A5 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green; border-radius: 0 100px 0 0;">A6 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green; border-radius: 100px 0 0 0;">B1 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: red;">B2 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green;">B3 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green;">B4 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: yellow;">B5 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
        <mat-grid-tile style="background-color: green; border-radius: 0 100px 0 0;">B6 <button mat-icon-button aria-label="Informaciòn de la silobolsa" (click)="openDialog()"><mat-icon>info</mat-icon></button></mat-grid-tile>
      </mat-grid-list>  
    </mat-card-content>        
</mat-card>
